
@font-face{
  font-family: "EasyOpenFace";
  src: url('../ttf/EasyOpenFace.ttf');
}

$font-easy : "EasyOpenFace";

body {
  background: url(../images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.table {
  background-color: #ffffff;
}

#home {
  text-align: center;
  font-family: $font-easy;
  font-size: 50px;

}

.welcome {
  font-family: $font-easy;
}

.displayName {
  float: none;
  display: inline-block;
  font-size: 50px;
}
